In [2]:
import pandas as pd
import surprise as sp

In [5]:
data1=pd.read_csv('Ratings.csv')

In [6]:
data1.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6